section{
    margin-top: 15px;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 20px;
    width: 150px;
}

h1{
    border-bottom: 1px solid black;
}

div{
    margin-top: 10px;
}
label{
    display: inline-block;
    width: 70px;
}
input[type="submit"]{
    display: block;
    margin-top: 10px;
}
ul{
    list-style-type: circle;
}

li{
    text-decoration: underline;
}