div{
    margin-top: 10px;
}
label{
    display: inline-block;
    width: 70px;
}
input[type="submit"]{
    display: block;
    margin-top: 10px;
}

p{
    width: 230px;
    border: 1px solid black;
    padding: 5px;
}